<div class="page-header text-center">
    <h1><%= user.local.name %></h1>
    <a href="/user/<%= user._id %>" class="btn btn-default btn-sm">Edit</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/user/<%= user._id %>/delete" id="delete-account" class="btn btn-danger btn-sm">Delete Your Account</a>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <h3>Profile</h3>
      <% if (user.local.name) { %>
        <p>
          <strong>Name</strong>: <%= user.local.name %><br>
          <strong>Email</strong>: <%= user.local.email %><br>
        </p>
      <% } else { %>
        <p>
          <strong>Name</strong>: <%= user.google.name %><br>
          <strong>Email</strong>: <%= user.google.email %><br>
        </p>
      <% } %>

    </div>
  </div>
<div class="container">
  <table style="display: none" id="log-table" class="table table-hover table-responsive">
    <thead class="table-header">
      <tr class="row-borders">
        <th width="22%">Brand</th>
        <th width="15%">Serving Size</th>
        <th width="15%">Calories</th>
        <th width="15%">Protein</th>
        <th width="15%">Fat</th>
        <th width="15%">Carbohydrates</th>
      </tr>
    </thead>

    <tbody id="log-tbody">

    </tbody>
  </table>
</div>

<!-- Temp "Table" Container  -->
<div class="container">
  <div id="tempContainer"></div>
</div>


<script type="text/javascript">

  $('#delete-account').on('click', function(e){

    if (! confirm("Are you sure you want to permanently delete your account?!")) {
      e.preventDefault()
    }
  })

  var logTableBody = $('#log-table #log-tbody')
  var logTableDiv = $('.container')

  $.ajax({
    url: '/user/<%= user._id %>/food',
    method: 'GET',
  })
  .done(function(data){
    var foodArr = data.food
    var foodsByDate = _.groupBy(foodArr, function(meal) {
      var created_at = new Date(meal.created_at)
      return created_at.getDate();
    });
    for(date in foodsByDate) {
      var myTable = $('<table>', {id: "result-table", class: "slideIt table table-hover table-responsive"})
      var myTHead = $('<thead>', {class: "table-header"})
      var dateCaption = $('<caption>', {class: "dateForTable text-center"})

      dateCaption.text(moment(foodsByDate[date][0].created_at).format("LL"))
      dateCaption.on('click', function(){
        $(this).siblings().slideToggle();
      })
      var dataRow = $('<tr>', {class: "row-borders"})
      var mealTh = $('<th>', {width: "20%", class: "table-header"}).text("Meal")
      var brandTh = $('<th>', {width: "15%", class: "table-header"}).text("Brand")
      var proteinTh = $('<th>', {width: "13%", class: "table-header"}).text("Protein")
      var fatTh = $('<th>', {width: "13%", class: "table-header"}).text("Fat")
      var carbTh = $('<th>', {width: "13%", class: "table-header"}).text("Carbohydrates")
      var caloriesTh = $('<th>', {width: "15%", class: "table-header"}).text("Calories")

      myTable.append(myTHead);
      myTable.append(dateCaption);
      myTable.append(dataRow);
      dataRow.append(mealTh);
      dataRow.append(brandTh);
      dataRow.append(proteinTh);
      dataRow.append(fatTh);
      dataRow.append(carbTh);
      dataRow.append(caloriesTh);

      $('#tempContainer').append(myTable)

      foodsByDate[date].forEach(function(meal) {
        $('#tempContainer tbody').append('<tr id="' + meal._id + '"><td>' +
        meal.meal + '</td><td>' + meal.brand + '</td><td>' + meal.protein + '</td><td>' +
        meal.fat + '</td><td>' + meal.carbohydrates + '</td><td>' +
        meal.calories + '</td></tr>')
      })



    }
    $('caption').siblings().hide()
  })


</script>

</div>
