<div class="page-header text-center">
    <h1><%= user.local.name %></h1>
    <a href="/user/<%= user._id %>" class="btn btn-default btn-sm">Edit</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    <a href="/user/<%= user._id %>/delete" class="btn btn-danger btn-sm">Delete</a>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <h3>Profile</h3>
      <% if (user.local.name) { %>
        <p>
          <strong>Name</strong>: <%= user.local.name %><br>
          <strong>Email</strong>: <%= user.local.email %><br>
        </p>
      <% } else { %>
        <p>
          <strong>Name</strong>: <%= user.google.name %><br>
          <strong>Email</strong>: <%= user.google.email %><br>
        </p>
      <% } %>

    </div>
  </div>
<div class="container">
  <table style="display: none" id="log-table" class="table table-hover table-responsive">
    <thead class="table-header">
      <tr class="row-borders">
        <th width="22%">Brand</th>
        <th width="15%">Serving Size</th>
        <th width="15%">Calories</th>
        <th width="15%">Protein</th>
        <th width="15%">Fat</th>
        <th width="15%">Carbohydrates</th>
      </tr>
    </thead>

    <tbody id="log-tbody">

    </tbody>
  </table>
</div>

<script type="text/javascript">


var allDates = _.groupBy()

  var logTableBody = $('#log-table #log-tbody')

  $.ajax({
    url: '/user/<%= user._id %>/food',
    method: 'GET',
  })
  .done(function(data){
    // console.log(data);
    var foodArr = data.food
    // var allDates = _.groupBy(foodArr, 'created_at')
    var foodsByDate = _.groupBy(foodArr, function(meal) {
      var created_at = new Date(meal.created_at)
      return created_at.getDate();
    });
    for (var i in foodsByDate) {
      console.log(foodsByDate[i]);
      if ()
      // foodsByDate[i].forEach(function(console.log('hello');))
    }
    for (var i = 0; i < data.food.length; i++) {
      if (data.food.length < 1) {
        $('#log-table').hide()
      } else {
        $('#log-table').show()
        // if (foodArr[i].created_at )
        // console.log(data.food[data.food.length - 1].created_at);
        logTableBody.append('<tr id="' + data.food[i]._id + '"><td>' + foodArr[i].brand + '</td><td>' +
        foodArr[i].servingSize + ' ' + foodArr[i].servingSizeUnits + '</td><td>' + foodArr[i].calories + '</td><td>' +
        foodArr[i].protein + '</td><td>' + foodArr[i].fat + '</td><td>' +
        foodArr[i].carbohydrates + '</td></tr>')
      }
    }
  })

</script>

</div>
